{% extends "templates/emails/base.html" %}
{% import "templates/emails/macros.html" as ui %}

{% block content %}
<tr>
	<td class="fc-body">
		{{ ui.heading(_("Join {0}").format(team_name) | e) }}
		{{ ui.paragraph(_("{0} invited you to join their team in Central.").format(invited_by) | e) }}

		{{ ui.table([_("Role"), _("Expires")], [[role | e, expires_on | e]]) }}

		{{ ui.button(_("View invitation"), invitation_url | e) }}

		<p class="fc-muted pt-6">
			{{ _("If the button does not work, open this link:") }}<br />
			{{ ui.link(invitation_url | e, invitation_url | e) }}
		</p>
	</td>
</tr>
{% endblock %}
