{% extends "templates/emails/base.html" %}
{% import "templates/emails/macros.html" as ui %}

{% block content %}
<tr>
	<td class="fc-body">
		{{ ui.heading(_("Your verification code")) }}
		{{ ui.paragraph(_("Enter this code to finish signing in.")) }}

		<table class="w-full" cellpadding="0" cellspacing="0" role="presentation">
			<tr>
				<td class="fc-code">{{ code }}</td>
			</tr>
		</table>

		<p class="fc-muted pt-4">
			{{ _("It expires in {0} minutes. If you did not ask for it, ignore this email.").format(expires_minutes or 10) }}
		</p>
	</td>
</tr>
{% endblock %}
